@use "../variables" as *;

.brand-swiper-title {
  position: relative;
  color: $color-brand;
  font-weight: 400;
  padding: 16px 0 16px 32px;
  height: 56px;
  font-size: 16px;
  box-sizing: border-box;
  background: linear-gradient(to right, $color-bg, $color-white);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-line ; 
  }
}

.brand-swiper-wrapper {
  margin: 40px auto;
}

.swiper {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px 0 20px 16px;
  // overflow: hidden; 

  &-wrapper__brand {
    height: 100px;
  }

  &-slide {
    width: 240px;
    height: 72px;

    img {
      display: block;
      width: auto;
      height: 32px;
      padding-right: auto;
    }
  }
}

.brand-card {
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid $color-border; 
  border-radius: 10px;
  height: 72px;
  max-width: 240px;
  min-width: 224px;

  &__logo {
    display: block;
    max-width: 128px;
    max-height: 32px;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-left: 20px;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-right: 20px;

    img {
      display: block;
      width: 40px;
      height: 40px;
    }
  }
}

.brands-toggle {
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-left: 26px;
  cursor: pointer;

  &.brands-toggle--expanded {
    .toggle-icon--show {
      display: none;
    }

    .toggle-icon--hide {
      display: inline-block;
    }
  }
}

.toggle-icon {
  width: 24px;
  height: 24px;

  &--hide {
    display: none;
  }
}

.toggle-text {
  font-size: 16px;
  color: $color-text;
}

@media (max-width: 768px) {
  .brands-grid,
  .brands-toggle {
    display: none;
  }

  .brand-swiper-title{
    height: 80px;
  }
}

@media (min-width: 769px) {
  .swiper {
    display: none;
  }

  .brands-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    padding: 16px 16px 16px 32px;
    // justify-content: center; 
  }
}

@media (min-width: 1120px) {
  .brands-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $color-bg;
  }
  .brands {
    width: 1120px;
    margin-top: 100px;
  }
}
