@use "../variables" as *;

.footer-container {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  color: $color-brand;
  font-weight: 500;
  padding: 15px 0 0 32px ;
  // height: 65px;

&::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-start ; 
}
}

.commercial-container {
    display: flex;
    align-items: center;   
    gap: 8px;   
    color: $color-text;    
    font-weight: 400; 
    font-size: 16px;    
  }

  .business-footer {
    margin: 0;
    font-size: 14px;
    color: $color-text;
  }
  

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
  }

  
}