@use "../variables" as *;

.page {
  min-height: 100vh;
  // max-height: 1440px;
  margin: 0 auto;

}

.page__main {
  margin-left: 320px; 
  // min-width: 0;
}

@media (max-width: 1120px) {
  .page__main{
    margin-left: 0;
  }
}