@use "variables" as *;

@font-face {
  font-family: TT Lakes;
  src: url('../font/TT\ Lakes\ Neue\ Trial\ Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: TT lakes;
  src: url('../font/TT\ Lakes\ Neue\ Trial\ Medium.ttf');
  font-weight: medium;
}

@font-face {
  font-family: TT lakes;
  src: url('../font/TT\ Lakes\ Neue\ Trial\ Regular.ttf');
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: TT Lakes;
  font-size: 16px;
  background-color: $color-bg;
  height: 100vh;
}

@media( max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

